
.places__paragraph {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 769px) {
  .places__paragraph {
  font-size: 16px;
  }
}


@media screen and (max-width: 426px) {
  .places__paragraph {
    padding: 0 16px;
  }
}
