.cover__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
	bottom: 0;
  background-color: rgba(42, 44, 47, .3);
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  transition: background-color .2s ease-in-out;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8)
}
